<!DOCTYPE html>
<html lang="en" ng-app="redditnotifier">
<head>
    <link rel="stylesheet" href="../lib/3rd/angular/includes/angular-material.min.css"/>

    <link rel="stylesheet" type="text/css" href="../themes/default/common.css"/>
    <link rel="stylesheet" type="text/css" href="../themes/default/notification/index.css"/>

    <script src="../lib/3rd/angular/includes/angular.min.js"></script>
    <script src="../lib/3rd/angular/includes/angular-animate.min.js"></script>
    <script src="../lib/3rd/angular/includes/angular-aria.min.js"></script>
    <script src="../lib/3rd/angular/includes/angular-messages.min.js"></script>
    <script src="../lib/3rd/angular/includes/angular-material.min.js"></script>
</head>

<body ng-controller="controllerNotification">
    <div class="background">
        <div class="window_header visible_on_mouse">
            <span ng-click="v_notification.handle.debug_open($event)"></span>
            <md-button class="quit_button" ng-click="v_notification.handle.logout()" aria-label="Logout"></md-button>
        </div>
    </div>

    <script src="../lib/app.js"></script>
    <script src="../lib/service_ipc.js"></script>
    <script src="controller_index.js"></script>
</body>
</html>
